---
import { getCollection, render } from "astro:content";
import BlogLayout from "../../layouts/blog-layout.astro";

export const prerender = true

export async function getStaticPaths() {
    const posts = await getCollection('blog')
    return posts.map(post => ({
        params: { id: post.id },
        props: { post }
    }))
}

const { post } = Astro.props;
const { Content } = await render(post);

const formatDate = (date: Date) => {
    return date.toISOString().split('T')[0];
}
---

<BlogLayout title={`${post.data.title} | @calbch`} description={post.data.description}>
    <article>
        <header>
            <h1 class="heading">{post.data.title}</h1>
            <h2 class="subheading">{post.data.description}</h2>
            <div class="metadata">
                <time datetime={post.data.publishingDate.toISOString()}>
                    {formatDate(post.data.publishingDate)}
                </time>
                {post.data.updateDate && 
                    <time class="update" datetime={post.data.updateDate.toISOString()}>
                        (updated: {formatDate(post.data.updateDate)})
                    </time>
                }
            </div>
        </header>
        <section class="content">
            <Content />
        </section>
    </article>
</BlogLayout>

<style>
    header {
        margin-bottom: 3rem;
        text-align: center;
    }

    .heading {
        font-size: 2rem;
        letter-spacing: -2px;
        margin: 0;
    }

    .subheading {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 1rem 0;
        color: #555;
    }

    .metadata {
        font-size: 0.9rem;
        color: #666;
        margin-top: 1rem;
    }

    .update {
        margin-left: 0.5rem;
    }

    .content {
        line-height: 1.6;
    }

    .content :global(h1) {
        font-size: 1.8rem;
    }

    .content :global(h2) {
        font-size: 1.4em;
    }

    @media (max-width: 860px) {
    
    }

    @media (max-width: 640px) {

    }

    @media (max-width: 480px) {
        .heading {
            font-size: 1.8rem;
        }

        .subheading {
            font-size: 1rem;
        }

        header {
            margin-bottom: 1rem;
        }

        .content {
            padding: 1rem 1rem 4rem;
        }

         .content :global(h1) {
            font-size: 1.2rem;
        }

        .content :global(h2) {
            font-size: 1em;
        }

        .metadata {
            display: flex;
            flex-direction: column;
        }
    }

</style>
